.navbarTopSpacing {
  margin-top: 20px;
  margin-bottom: -20px;
  padding: 0;
}

.navbarText {
  padding-left: 40px;
  color: rgb(179, 179, 179);
  transition: 0.5s;
}

.navbarText:hover {
  text-decoration: none;
  color: #000;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none
}